
  body {
   background-color: #ac9;
margin-top: 40px;
position: relative;
  }
  
  h1 {color: #ac9;
  text-align: center;
  }
  
h2,h3,h4 {color: #ac9;}

p {font-size: 10px;}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}/*Spaces down anchor tags to compensate for the space the nav bar puts it off*/

.panel {padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border-radius:0px;}

.fa {color:#ac9;}

.section {margin: 50px 30px 50px 30px;}

.col-centered {margin:0 auto;}

#aboutservices{}
#portfolioprojects{}
#contactme{}

#container:hover #name {
  transform: translate(0, 0) !important;
}

#container #name {
  transition: transform 0.25s ease;
  transform: translate(0, 100%) !important;
}

#container {
  overflow: hidden;
  position: relative;
}

#name {
  width: 300px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
}

/* for parallax - copy .content array and rename for every image-insert in site*/
.content-consulting-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/sQDeUVuvWNHTdiDBFPKLJJ6CiXH2YPijLOc7qDUqATXL2mSeNEtpaaj6zmVQlLx4ZbDXs0Xk9Wy9IC9lCC33ophH_rp5ZtKwzT-a0rzInxeFdktDSS73BX8LTyZKU_LsBlcTuB7RwFsPtCuoh9Y5Y7ZE9hcc0L6GCXG8u_4YmSn2jQNqabjHJ2-AZ6MBUVAx7gDF9r8Bs9WB3ovn45aJsT295nK8YCT5fnk7wX5JHXYp1HaNUP5MchYFtLbYEwgdzACTX5kDpq0uwTNRn5RdRDDeCki7fZ3YyhfIPVtAsU4HGUgycOBaDu8822XAsXVFqfpqtH4p7knBkMOty-A7eyq_MnJQt9VzglKQSscxD5XnhgQ8PbuwV7E11M9MnhFk9BxDilpbRobUbMkLdfh8yezk5jeckzug2ViwwcVoiewqrkcqJ8WwoauRF3-dxl3o-G-Ljt6LrKsFng9R6MwvUoqsEMUgtmgFZ5IIuZEjC0Xry8FTNFJhntpzjwobdEdZyriyKuyo7pO2hOny4gOdP3alO3p57hM8_vQmvOrx9_Eqa33ySGeuHZfA3Mv49cBwkjRW=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-consulting-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/z0h14KDXzP82J3BEaMzSzn0qpgVGQhnZuphQSrnY_PvtguNpeoajI70DVQP_vfYt29FCBfcezANt4g7XFUSpIhZkbxYKl4JhwUXGFjh5xB19UN--2OkB3RHljWpviZ-tzag3kZaS1yj4B0yGprYix0eQ3kKQoCQCdpxoGfdioMGsfMajlEfSsL4nNSuDI1yoQe8CjpYY6aZsmkbFpigPrJTxjpDMllKPLuw5UfMP5-uC6eyeH4V8Bvt7qOIcHJ3tqSLo-psEXmDZEjkVSzz14Px8izLbyXX5jHjRaEQOohEQIOa_SeuczU8MgLR3axPOY0yIrWLqTbqLY6vWTCEbZ5MXno-lKC-0-U-O3GZdekRnzjJErworZYg226ezqzof5oeaZujyY7-UsG0a3LmP3EdH-Yj9fU3MAzWHtwMxzXBckad6Hoj6pdaozuadC0YAtFZJBz0in25kM2WhctTFleuMQB4R6lmegIloVlPugrpTek9RpTlGPsO5hS--oXKokX91_hl399ObZ8Qcqlv5G98FVFXCK9R1Xs7-uJAigI1ubOBquc8ctlYKOAEUZrpjpX4u=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-consulting-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/pJMFicFqOMTMjBD6m9vDXjbB1vGJaHgwgMeW4XD9_yJREH4KpgJqvinXxeTcGeRRPv2lvLRfC7HODE8nPbdMkLG963ERdt9CNNK4g_SoeHzlao8EsgB-qptw-dpsMTkiRjfV2aBunSQ6ACIz7PPzTxsf8H_mQIgy9n4fMpq0L9X4Vxaz3jcaL1u1KN9583UEuSfGIBF0e1dQ9Va07XE9CUpWHT1knNae8Ca2pRU7_LIiNhOq1P1t_khB_bV7a6t9Hle98lnk6RFklccpPsoNunEruPjnFRTHsxD-V5tN5xE-zYB-Gf-vQxJYuI4LoY4Xfj9xLBDroLkbmig1o6MWp3GY78tIlwvXodTIi4G-kaq6lqQwaEZvYCN5UDjauzTx8chVgWxGywdgMTkNbwTMOirQdk_wh-88D175yzgto46Rp1mvW4oPvZ9sTrX3lz5ndxDjqjmzajSkVPtrAe_Kzm6XgB9vTMAg5rq3aiXEg6THBz_VESYkp2_gAFKSh5dSylKCCcmS2qHjWo2fDy-ht8-nEFyBHkkLb-7aI5Xp0iVErXhjarh5NlXbG-H4GMmB52db=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-index-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/KeTWxkz_jy7_tamS72wTZ4QAOVwMnHrZpfpU971t7roYBewav1b339474f_T1RL9Uh6pPJyNAqtG1xdLwbV0-AZfIHWHw3_2fHnXJZYNBh8YlSSDwCzxNvSdBRG38U3OVmNyp7MwILjJoluImGSXY8-zqy_djvtDpFBf7A1W0cgNEr_mV97yGz8y4MZXxTK-Fzm01CPNdSVZCYvPO9d1NF4h9Eh5hfuBps8vsI6EjEneX7zouRlleZOSvPH6vqj42P7gfWDXVTfs-6L9wWwj7gV9YwKP3mIwVMyU8Y3FyXRE5uazkG-TFH-Dhl6mI2ea8XnHFS_E2PI7AnAebgQ1FvlqX79lq4iv1nlYYLPp9VEOvqPPZ5n8VfAnQzGBYzJwbB7FSjU4NvVaoqcX9_H_cP-AS3kJb-aHA1ZJlE6HB05bA-Sv7UVjlSq9-2EIy8HshVSbciMmRqnSsyN63vOxscWsUntskLxyi4SKEhW0bxTZxmJex4SQiDgXKOdHT1RDn5cuioICShf6svTmzmsnCxVGYiVyePekywXETkJs9Oj8bdxuN8ioomg5ez6744w0UnW_ja6H71b5SL354Vb_GxhRY3Gc67o=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-index-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/pJMFicFqOMTMjBD6m9vDXjbB1vGJaHgwgMeW4XD9_yJREH4KpgJqvinXxeTcGeRRPv2lvLRfC7HODE8nPbdMkLG963ERdt9CNNK4g_SoeHzlao8EsgB-qptw-dpsMTkiRjfV2aBunSQ6ACIz7PPzTxsf8H_mQIgy9n4fMpq0L9X4Vxaz3jcaL1u1KN9583UEuSfGIBF0e1dQ9Va07XE9CUpWHT1knNae8Ca2pRU7_LIiNhOq1P1t_khB_bV7a6t9Hle98lnk6RFklccpPsoNunEruPjnFRTHsxD-V5tN5xE-zYB-Gf-vQxJYuI4LoY4Xfj9xLBDroLkbmig1o6MWp3GY78tIlwvXodTIi4G-kaq6lqQwaEZvYCN5UDjauzTx8chVgWxGywdgMTkNbwTMOirQdk_wh-88D175yzgto46Rp1mvW4oPvZ9sTrX3lz5ndxDjqjmzajSkVPtrAe_Kzm6XgB9vTMAg5rq3aiXEg6THBz_VESYkp2_gAFKSh5dSylKCCcmS2qHjWo2fDy-ht8-nEFyBHkkLb-7aI5Xp0iVErXhjarh5NlXbG-H4GMmB52db=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-writing-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/RF6x4fsoonx5O-BQYv4V4wTEsO0OmM5klskdHUuOaXlqitxp0N2MKpkrCED41ngNE_T_XUBuBK_Yo9DCjZu9tWJFXsvr6iFN4omnOZyfFc5T-_Seky0mJhtbYiSjQRgWbF2gQ6fS6rHavR5UWBYNgeXAHSpOKmq8QjAKbADgOCC2NG-7V8TZdITlZki9xnc6ee6JQ-WTOwBbEJ9MoTHhyX02JSuOAMvBZ9Z5--4MWnjVBCjvbSegeTORY9AAIHyD5mv5CL9peUaxdQgy1g_K8pVCMzPuSGIWufkc5IlCsNa_9XIsvIIMT-Ei-yTBkMg6jQfOffOsT0QH4_dC7q_qnckz6kt_X1qusloXGM6iKSwmZ-I6TkP7bJOlU63rhf0gLE9WBENW4Y2h8LObffkwpJPAHVBgMydh4plRHCYvm9ln-odDbOzv9SmrUF1csHsy8lmI-ye47iu7P8j5hP2Knk0JtJmr4leQFh0xOrweaReWrRp4cTvV8DZh7SygivNcPMqh2uFFSlKcJFz8-11P6dA67_Xgay0mfrLwVKQ-nuB76dOEFTCMlC24RhDRM6NEaUwlnaXeFyZVTyP8Z54MS0OvMucbBm8=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-writing-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/RF6x4fsoonx5O-BQYv4V4wTEsO0OmM5klskdHUuOaXlqitxp0N2MKpkrCED41ngNE_T_XUBuBK_Yo9DCjZu9tWJFXsvr6iFN4omnOZyfFc5T-_Seky0mJhtbYiSjQRgWbF2gQ6fS6rHavR5UWBYNgeXAHSpOKmq8QjAKbADgOCC2NG-7V8TZdITlZki9xnc6ee6JQ-WTOwBbEJ9MoTHhyX02JSuOAMvBZ9Z5--4MWnjVBCjvbSegeTORY9AAIHyD5mv5CL9peUaxdQgy1g_K8pVCMzPuSGIWufkc5IlCsNa_9XIsvIIMT-Ei-yTBkMg6jQfOffOsT0QH4_dC7q_qnckz6kt_X1qusloXGM6iKSwmZ-I6TkP7bJOlU63rhf0gLE9WBENW4Y2h8LObffkwpJPAHVBgMydh4plRHCYvm9ln-odDbOzv9SmrUF1csHsy8lmI-ye47iu7P8j5hP2Knk0JtJmr4leQFh0xOrweaReWrRp4cTvV8DZh7SygivNcPMqh2uFFSlKcJFz8-11P6dA67_Xgay0mfrLwVKQ-nuB76dOEFTCMlC24RhDRM6NEaUwlnaXeFyZVTyP8Z54MS0OvMucbBm8=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-writing-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/UTosg4uztplE438BMLs7cfWLUap7nFcVVTlsMtb8BT38eWzbcTwHsyjIeGErpndn_L6cpeS8wyHAcLW9RT9nbR7RdTqCoEftJs17WPHAQRDqo3bNY2TmoTiUXt94BnNqQBLwpQAQS7PRMFwWCJmQ-C9e5xdyPprZRv1fu9uEi_z4w880aeEs3ibS8Ss0UCXUbdZ5hF-l0sqZuKaQhKwRDYlBQaeq2RnUuOQA9m7IIIcLNUOs3NAYPQ1AzJTaVg4CVXYEbZ8_va3jTVUZIv6WUwufRmy_YY-q5Z5kOTNIsTtw-Tgkgc4_q0a7zEcZTEWE0IS337eTTtDjNvWN8dSIpfWZ9zaeM8VowqbHxCzXFgoFIg2tNqnEX4H2r4u1c6gAHrrhadS-FH7YWiNRI0CcnYHKQGBnsM0ftp_fJWkshGlL41frX7vOWL5lW6y-3FdpL39e82AvWF5VMgHZOuvo8AqLRZmvaC26hsDJh2YOYg52ZpPgHEDmddtv8P4L4kP7TKiadQJyQt76FooqxperWPFgEhjvV8LsIbGyOHDOHRwMkgaAHqD0EEcJcsOZ93lyaECuPm5rjlwHj2_LAfzwxkSlB-op4PM=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-writing-space-four {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/UTosg4uztplE438BMLs7cfWLUap7nFcVVTlsMtb8BT38eWzbcTwHsyjIeGErpndn_L6cpeS8wyHAcLW9RT9nbR7RdTqCoEftJs17WPHAQRDqo3bNY2TmoTiUXt94BnNqQBLwpQAQS7PRMFwWCJmQ-C9e5xdyPprZRv1fu9uEi_z4w880aeEs3ibS8Ss0UCXUbdZ5hF-l0sqZuKaQhKwRDYlBQaeq2RnUuOQA9m7IIIcLNUOs3NAYPQ1AzJTaVg4CVXYEbZ8_va3jTVUZIv6WUwufRmy_YY-q5Z5kOTNIsTtw-Tgkgc4_q0a7zEcZTEWE0IS337eTTtDjNvWN8dSIpfWZ9zaeM8VowqbHxCzXFgoFIg2tNqnEX4H2r4u1c6gAHrrhadS-FH7YWiNRI0CcnYHKQGBnsM0ftp_fJWkshGlL41frX7vOWL5lW6y-3FdpL39e82AvWF5VMgHZOuvo8AqLRZmvaC26hsDJh2YOYg52ZpPgHEDmddtv8P4L4kP7TKiadQJyQt76FooqxperWPFgEhjvV8LsIbGyOHDOHRwMkgaAHqD0EEcJcsOZ93lyaECuPm5rjlwHj2_LAfzwxkSlB-op4PM=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-writing-space-five {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/ETMocjkGz4EHJmghlGCRTzCqdUd1rIuJ4zeCa0EdO3PuUZ2CTnnxBKvt5b5VxxnPuOAvi_UFYJIGwuHpuRjYSXco4STvIWKV6NCIuGnHSbpLs3RsyICq-YMCA7jJM48_kiml8W2zv0snkcYSdP-NdcElU6S6S5bitytWaiHUwrk2G3jxzFlWe4IkcTKpojluYpuf_01s0jUaOqMwXgZUlU0EJrl_1oHkA8bl0k_ycOawvZ_wp23ByqxLM8YrG46jgawEmywKxww9A-mSDYMOxzms9DFrpQbucf6sMJUKrlWZqOq8JchXIZ4ObOmaAJOfmwLk3-oTRDO4O1WdSAo5jc__jb-2g9yLXcgX-RTtn9W5cPczi2ba4VPaYBWmiuxBzIQaxFcftu-CuPgdfSPFXLMIQ8gZKKxN7LmbD7FJVBaieNVe59RoPNbISdLO18wsKgxjwJ1utKs1WSZ5sTb-psZ-tclR16Ifo52L4PL31-sW131ccrKYCxm1dfBXCXMWdiRFVX7_FGu_3iJFbwyO-pbnjkZv4JPLDgDI7DgYxObPRIXLGJBt7o8rn83Rc8-SOn9nKqoXlW6WZL3ewTfvCrcwS00AWBs=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-adventure-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/XOzp4URWuTI30Ygzx-oHGSqvbhWHAneDRNnprV8lM88vUA1Dgd_AoNkVZsu5sKRkTGVRGvXTx9QAKZ3gqq0U1qwtwODEV_d5LTKMcJEqh18lle-scSJbf_15TvOQF1oNvmxeMsXdfoXiDzyBCOp4h1h-nzVWE6X7dxiPikZ3jz_CjM6w5O-bB6NZe5p38E_9Ry78W-u0adwfxJMOOhjAYDo4Ybt3mvg3fwYl49aJhaVSlYL-jv6BmpJNTo8vfllPSJ_gHwjS0g67QmXP1aICTu795LJ6SRWGxfGxzbKUNQpbJHu5suUMywnXMaLIA9-OICVNlp4q7mLM_0E0V1i9YVORWYA0f29Fl8bmHDkaTA8EiQAXcw51ZsR6UrUw19VWSsSIBh3KNwnWw-K_OEi63FGzLtCG9foKjf3nXufNtYbgYzkfarIYZF9NQBHiMIpgf6ccKqGozTAQ4NjOag7jJDdpAhXkVGxc5q9SS2JT6gv2jvDhwRDnY_PXJqMPnsWDrchiefB1FgpLbwrrbUmWJ2wpjvgd4A9lFlrNlgotWed6KzXXynvXIJhJcEtUYDKjln3tz6-LebBKHGVJXDYoT8YlH49nwuI=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-adventure-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/XOzp4URWuTI30Ygzx-oHGSqvbhWHAneDRNnprV8lM88vUA1Dgd_AoNkVZsu5sKRkTGVRGvXTx9QAKZ3gqq0U1qwtwODEV_d5LTKMcJEqh18lle-scSJbf_15TvOQF1oNvmxeMsXdfoXiDzyBCOp4h1h-nzVWE6X7dxiPikZ3jz_CjM6w5O-bB6NZe5p38E_9Ry78W-u0adwfxJMOOhjAYDo4Ybt3mvg3fwYl49aJhaVSlYL-jv6BmpJNTo8vfllPSJ_gHwjS0g67QmXP1aICTu795LJ6SRWGxfGxzbKUNQpbJHu5suUMywnXMaLIA9-OICVNlp4q7mLM_0E0V1i9YVORWYA0f29Fl8bmHDkaTA8EiQAXcw51ZsR6UrUw19VWSsSIBh3KNwnWw-K_OEi63FGzLtCG9foKjf3nXufNtYbgYzkfarIYZF9NQBHiMIpgf6ccKqGozTAQ4NjOag7jJDdpAhXkVGxc5q9SS2JT6gv2jvDhwRDnY_PXJqMPnsWDrchiefB1FgpLbwrrbUmWJ2wpjvgd4A9lFlrNlgotWed6KzXXynvXIJhJcEtUYDKjln3tz6-LebBKHGVJXDYoT8YlH49nwuI=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-adventure-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/XOzp4URWuTI30Ygzx-oHGSqvbhWHAneDRNnprV8lM88vUA1Dgd_AoNkVZsu5sKRkTGVRGvXTx9QAKZ3gqq0U1qwtwODEV_d5LTKMcJEqh18lle-scSJbf_15TvOQF1oNvmxeMsXdfoXiDzyBCOp4h1h-nzVWE6X7dxiPikZ3jz_CjM6w5O-bB6NZe5p38E_9Ry78W-u0adwfxJMOOhjAYDo4Ybt3mvg3fwYl49aJhaVSlYL-jv6BmpJNTo8vfllPSJ_gHwjS0g67QmXP1aICTu795LJ6SRWGxfGxzbKUNQpbJHu5suUMywnXMaLIA9-OICVNlp4q7mLM_0E0V1i9YVORWYA0f29Fl8bmHDkaTA8EiQAXcw51ZsR6UrUw19VWSsSIBh3KNwnWw-K_OEi63FGzLtCG9foKjf3nXufNtYbgYzkfarIYZF9NQBHiMIpgf6ccKqGozTAQ4NjOag7jJDdpAhXkVGxc5q9SS2JT6gv2jvDhwRDnY_PXJqMPnsWDrchiefB1FgpLbwrrbUmWJ2wpjvgd4A9lFlrNlgotWed6KzXXynvXIJhJcEtUYDKjln3tz6-LebBKHGVJXDYoT8YlH49nwuI=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-imprint-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/ghH8Zvk0BeXK9fMALHvMtQ9hAOopJ4otHyBbVbq8MXdOoYn3MsBC1mdLZ-UiZepUTj10hBpDciJni_AhRnrADkAmL28Q_jtuwLCRwqEHZwpUx3pFfOF0oS_0lqK6QMDiIPZMh-8Z7DHC3uT68MCNffwDoxAL_2FU3TjGv1ODSS9KPr_fl-no9Eod2J9eBRmv4dNXIIO_sBwM5UGRw6eqDAOzQLmJdl2Qq-FDe8c28PwpiVFZOEI6m02DvDJMOI9PyjNugpbJkrAlTC-a42-sLbxEp4b0GfAgFTKP8SNtHZ2bZYua5rnExLcKSaWDEC-ZWpcwkINudQ4yIqQiFrLtdBmPIOmBZYRzaqA8XBBvK-wtSS2UNFMr0ynLOA1R5JJagF5PTjdwpVSYmIuvaWDHaWVpe_kUBAUyw0-Vut5XUSOmxjULAVIKOQFG54sWfRKBfbom0zEOsmfePbbAw0QFw2Oj9sKYseT48fSXc6JH57ov69h_ftUmgdRZqOJfo5MJec3gK9hGIEL6QSC8ms-gz1NpujNCFjIN2fEMiuDnNV5KYKCKiqsvds5kJferkHLhzXnz_TtOQiYiokeFebnXBdGSJca5sLE=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-imprint-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/ghH8Zvk0BeXK9fMALHvMtQ9hAOopJ4otHyBbVbq8MXdOoYn3MsBC1mdLZ-UiZepUTj10hBpDciJni_AhRnrADkAmL28Q_jtuwLCRwqEHZwpUx3pFfOF0oS_0lqK6QMDiIPZMh-8Z7DHC3uT68MCNffwDoxAL_2FU3TjGv1ODSS9KPr_fl-no9Eod2J9eBRmv4dNXIIO_sBwM5UGRw6eqDAOzQLmJdl2Qq-FDe8c28PwpiVFZOEI6m02DvDJMOI9PyjNugpbJkrAlTC-a42-sLbxEp4b0GfAgFTKP8SNtHZ2bZYua5rnExLcKSaWDEC-ZWpcwkINudQ4yIqQiFrLtdBmPIOmBZYRzaqA8XBBvK-wtSS2UNFMr0ynLOA1R5JJagF5PTjdwpVSYmIuvaWDHaWVpe_kUBAUyw0-Vut5XUSOmxjULAVIKOQFG54sWfRKBfbom0zEOsmfePbbAw0QFw2Oj9sKYseT48fSXc6JH57ov69h_ftUmgdRZqOJfo5MJec3gK9hGIEL6QSC8ms-gz1NpujNCFjIN2fEMiuDnNV5KYKCKiqsvds5kJferkHLhzXnz_TtOQiYiokeFebnXBdGSJca5sLE=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-imprint-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://lh3.googleusercontent.com/ghH8Zvk0BeXK9fMALHvMtQ9hAOopJ4otHyBbVbq8MXdOoYn3MsBC1mdLZ-UiZepUTj10hBpDciJni_AhRnrADkAmL28Q_jtuwLCRwqEHZwpUx3pFfOF0oS_0lqK6QMDiIPZMh-8Z7DHC3uT68MCNffwDoxAL_2FU3TjGv1ODSS9KPr_fl-no9Eod2J9eBRmv4dNXIIO_sBwM5UGRw6eqDAOzQLmJdl2Qq-FDe8c28PwpiVFZOEI6m02DvDJMOI9PyjNugpbJkrAlTC-a42-sLbxEp4b0GfAgFTKP8SNtHZ2bZYua5rnExLcKSaWDEC-ZWpcwkINudQ4yIqQiFrLtdBmPIOmBZYRzaqA8XBBvK-wtSS2UNFMr0ynLOA1R5JJagF5PTjdwpVSYmIuvaWDHaWVpe_kUBAUyw0-Vut5XUSOmxjULAVIKOQFG54sWfRKBfbom0zEOsmfePbbAw0QFw2Oj9sKYseT48fSXc6JH57ov69h_ftUmgdRZqOJfo5MJec3gK9hGIEL6QSC8ms-gz1NpujNCFjIN2fEMiuDnNV5KYKCKiqsvds5kJferkHLhzXnz_TtOQiYiokeFebnXBdGSJca5sLE=w1684-h1262-no) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
