
  body {
   background-color: #fff;
    position: relative;}

p {
    color: #333;
  }

  h1 {color: #e8c048;
  text-align: center;
  }
  
h2 {color: #e8c048;
}

h3, h4, h5 {color: #333;
  }

/* unvisited link */
a:link {
  color: #e8c048;
}

/* visited link */
a:visited {
  color: #333;
}

/* mouse over link */
a:hover {
  color: #007bff;
}

/* selected link */
a:active {
  color: #007bff;
}

.col-centered {margin:0 auto;
}

#aboutservices{}
#portfolioprojects{}
#contactme{}
#aboutwriting{}
#kaiestories{}
#betareaders{}
#writingjournal{}
#writingresources{}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.banner {margin: 0 auto;}

.btn {
  margin: 0.5em;
            background: #e8c048 !important;
  color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
background: #333 !important;
}

.btn-primary {
            background: #e8c048 !important;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333 !important;
}
 
.btn-primary:active, .btn-primary.active {
    background: #333 !important;
}

.button {
  margin: 0.5em;
            background-color: #e8c048;
    color: white;
}

a.btn {
  margin: 0.5em;
            background: #e8c048 !important;
  color: white;
}

a.btn:focus, a.btn:active:focus, a.btn.active:focus {
background: #333 !important;
}

a.btn-primary {
            background: #e8c048 !important;
    color: white;
}

a.btn-primary:hover, a.btn-primary:focus, a.btn-primary:active, a.btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333 !important;
}
 
a.btn-primary:active, a.btn-primary.active {
    background: #333 !important;
}

a.button {
  margin: 0.5em;
            background: #e8c048 !important;
    color: white;
}

/*Slideshow CSS*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-width: 110%;
  position: relative;
  margin: -1px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
