---
layout: default
title: kaie.FotC
---
<div class="panel panel-fluid">
<div class="panel-body">
 <div class="section">
	 <row>
		 <div class="col-sm-8">
 	<h3>Legends of the Connarii Book One: Flame of the Connarii</h3>
			 
			 <p>When a combative Celtic princess and a feral boy raised by wild cats in the ruined jungles of a lost world join forces, neither tribal power struggles nor the attacks of jungle beasts can separate them. But will they be able to survive the monstrous invading horde lying in wait in the shifting Otherworld mists on the edge of the jungle?</p>
			 <p>Edana is a volatile crown princess who'd rather be a warrior any day. When her tribe is banished from Earth, Edana jumps at the opportunity to take charge of the Connariian war band. But between being saddled with an ambitious, amorous partner and co-captain, the ominous prophecies of her know-it-all druid of a baby sister, and the mysterious wild man in the jungle, Edana is going to have a terrible time realizing her dreams of martial glory.</p>			 
<p>Torchann is the beast-raised last son of an extinguished race, master of a dying world. As the boundaries between worlds fade and foreign invaders menace, Torchann will have to choose fight for the only home he's ever known, or sacrifice it all to battle alongside a girl he's just met and her alien family.</p>
          		 <br>
<p class="text-muted">A story about home, belonging & leading well.
            <p class="text-muted">YA Celtic-flavoured, girl-power fantasy adventure. </p>
            <p class="text-muted">Serial webfiction; new chapters debut Tuesdays.</p>
			 </div>
		 <div class="col-sm-4">
			 <img src="https://jukepop.blob.core.windows.net/images/covers/uploads/lotc1_47e1fb7d_20161210015146AM.jpg" style="width: 400px" class="img-thumbnail">
					 <h5><a href="http://kaie.space/fotc/2016/11/29/FotC-CH1-the-connarii-are-lost.html">Start reading</a> or scroll down for the latest chapter.</h5>
						 <h5>Enjoy new chapter alerts and shiny ebook-style reading with <a href="http://my.w.tt/UiNb/t20n3ddOYy">Wattpad</a> or <a href=" http://www.jukepop.com/home/share/9910/?c=tL2FvvpHPE4t3g6c&key=67f65f94-8e05-40a4-9b60-3c2e6692fd25">Jukepop</a></h5>

		 </div>
			 </row>
	 <hr>
	 	<div class="row">
<div class="col-sm-9">
	<!--main content of posts-->
		<ul class="posts">
	  {% for post in site.categories.fotc %}
	    	<a href="{{ post.url }}" title="{{ post.title }}"><h3>{{ post.title }}</h3></a>
	    	<span><p><small>{{ post.date | date_to_string }}</small></p></span>
	    	<p><small>{{post.content}}</small></p><hr>
	  {% endfor %}
	    	</ul>
</div><!--close first col-->
<div class="col-sm-3">
	<!--lookup linklist of posts-->
	<h3>Post Index</h3>
	<ul class="posts">
	  {% for post in site.categories.fotc %}
	    	<p><font size=2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	    	 | <span><small>{{ post.date | date_to_string }}</small></span></font></p>
	  {% endfor %}
</ul>
	</div><!--close second col-->
</div><!--end row-->
	  </div><!--end section-->
	  </div>
	  </div>
