---
layout: default
title: Gold. A YA dystopian supernatural fantasy thriller
---
<script async defer src="//assets.pinterest.com/js/pinit.js"></script><!--Pinterest script-->
 <!--Start main contents of page-->
<div class="panel panel-fluid">
<div class="panel-body text-center">
 <div class="section">
 <h1>kaie.books<small><br>Gold | A YA dystopian supernatural fantasy thriller/small></h1>
 <!--Social Media buttons-->
 <a target="_blank" href="https://www.instagram.com/kaiedesign/"><button><i class="fa fa-instagram"></i></button></a>
 <a target="_blank" href="https://twitter.com/kaiedesign"><button><i class="fa fa-twitter"></i></button></a>
 <a target="_blank" href="https://www.facebook.com/kaie.web"><button><i class="fa fa-facebook"></i></button></a>
 <a target="_blank" href=" http://kaiedesign.tumblr.com"><button><i class="fa fa-tumblr"></i></button></a>
<a href="https://ca.linkedin.com/in/kaiedesign" target="_blank"><button><i class="fa fa-linkedin"></i></button></a>
</div><!--end opening section-->
</div>
</div><!--end opening panel-->

<div class="content-consulting-space-one"></div>
  <!-- Start Section 2 -->
  <div class="panel panel-fluid">
    <div class="text-center section">
      <p class="lead">Gold</p>
<p>When hope kills and dreams are deadly, your only hope for survival is to shut it all down. </p>
            <p>Cole is the perfect Tower drone, until she meets Ravel and discovers another world.</p>
            <p>With the dead piling up at every turn, Cole will have to decide which voice to follow: the charismatic leader Ravel, the holy Tower regulation, the whispers of a spectre from her past or the cries of the child within.</p>
            <br>
            <p class="text-muted">Teen/YA dystopian thriller with dark supernatural/fantasy/SF elements. </p>
            <p class="text-muted">100,000 words. Coming Fall 2016.</p>
 <div class="container">
    {% for post in site.categories.book limit: 8 %}
        {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
            <div class="col-sm-3">
  <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h4 class="title"><a style="color:#ac9" href="{{ post.url }}">{{ post.title }}</a></h4>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content">
		{{ post.excerpt }}
		<a href="{{ post.url }}">Read more</a>	
		</div><br><!--/.article-content-->
	</article>
	</div>
        {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}
</div>

<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/cole-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/ravelwan-ravel-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/cadence-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/itri-ghost-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/haynfyv-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/maria-inspiration-board/"></a>
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/kaiespace/urban-dystopia-inspiration-board/"></a>
 
</div><!--end Section 2-->
