---
layout: default
title: kaie.Space 
---

 <!--Start main contents of page-->
	  <div class="panel panel-fluid">
 <div class="section text-center">
      <a class="anchor" name="kaiestories" id="kaiestories"></a>
	 <div class="row">
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/17/6d/d4/176dd4382b926bd8402c85a4b3094ccb.jpg" style="width: 300px; height: 397px;" class="img-thumbnail">
          <div id="name" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;">
		  <h4><a href="/gold.html">Blind the Eyes</a></h4>
            <p>When hope kills and dreams are deadly, your only chance for survival is to shut it all down.</p>
            <p>With the dead piling up at every turn, Cole will have to decide which voice to follow: the charismatic leader Ravel, the holy Tower regulation, the whispers of a spectre from her past or the call of the child within.</p>
<p>A story about identity, trauma & taking back your choices.</p>
		              <p>YA supernatural dystopian thriller. 80,000 words. Coming Summer 2017.</p>
		  <br>
		  <p><strong>Read <a href="http://kaie.space/book/2016/10/05/Preview-Chapter-1.html">preview</a> and <a href="mailto:kaie.web@gmail.com">sign up to mailing list</a> for publication updates, to apply to beta read, or to request ARC copies.</strong></p>
          </div><!--end name-->
          </div><!--end container-->
          </div><!--end col-->
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px">
          <img src="https://jukepop.blob.core.windows.net/images/covers/uploads/lotc1_47e1fb7d_20161210015146AM.jpg" style="width: 300px" class="img-thumbnail">
          <div id="name" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;">
		  <h4><a href="/fotc.html">Flame of the Connarii</a></h4>
		  <p>Edana, eldest daughter of the Connarii chief, is fighting to lead her tribe through the treacherous Otherworld mists to a safe haven.</p>
            <p>Torchann is the beast-raised last son of an extinguished race, master of a dying world.</p> 
		  <p>Their worlds are destroyed, their very way of life, threatened. Can they unite, fight back and survive, or will they each die alone?</p>
		  <p>A story about home, belonging & leading well.</p>
		  <p>YA Celtic-flavoured Fantasy adventure. Serial webfiction updated Tuesdays.</p>
		  <br>
		  	<p><strong>Read <a href="http://kaie.space/fotc.html">here</a> or on <a href="http://my.w.tt/UiNb/t20n3ddOYy">Wattpad</a> or <a href=" http://www.jukepop.com/home/share/9910/?c=tL2FvvpHPE4t3g6c&key=67f65f94-8e05-40a4-9b60-3c2e6692fd25">Jukepop</a></strong></p>
          </div><!--end name-->
          </div><!--end container-->
        </div><!--end col-->
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px">
          <img src="https://jukepop.blob.core.windows.net/images/covers/uploads/TgooH1_66b65543_20161211035202AM.jpg" style="width: 300px" class="img-thumbnail">
          <div id="name" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center;">
		  <h4><a href="/tgooh.html">Things Got Out of Hand</a></h4>
		  <p>She almost died. Then he showed up.</p>
		  <p>April greatly prefers her own company.</p>
		  <p>But when Henry saves her from a homicidal Nightmare and moves in, her days of peaceful solitude are over.</p>
		  <p>A story about monsters, heroes, and plans that change.</p>
		              <p>A less dystopian/more romancy retelling of Blind the Eyes. Serial webfiction updated Fridays.</p>
		  <br>
		  	<p><strong>Read <a href="http://kaie.space/tgooh.html">here</a> or on <a href="http://my.w.tt/UiNb/SSNmtpsPYy">Wattpad</a> or <a href=" http://www.jukepop.com/home/share/9920/?c=tvjD9HffsCIidBNr&key=67f65f94-8e05-40a4-9b60-3c2e6692fd25">Jukepop</a></strong></p> 
          </div><!--end name-->
          </div><!--end container-->
        </div><!--end col-->
        
        </div><!--end row-->
<hr>
<!--<p>Keep up to date with the latest by social media and RSS, or for the lower-tech solution, sign up to my newsletter for social media, news & updates all in one place: 
</p>
<h4>Sign up for newsletter:</h4>
<div id="revue-embed">
  <form class="form-inline" role="form" action="https://www.getrevue.co/profile/kaiespace/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="form-group">
    <label for="member_email"></label>
    <input class="form-control" placeholder="Your email address..." name="member[email]" id="member_email" type="email">
  </div>
  <div class="form-group">
    <label for="member_first_name"><span class="optional"></span></label>
    <input class="form-control" placeholder="First name... (Optional)" name="member[first_name]" id="member_first_name" type="text">
  </div>
  <div class="form-group">
    <label for="member_last_name"><span class="optional"></span></label>
    <input class="form-control" placeholder="Last name... (Optional)" name="member[last_name]" id="member_last_name" type="text">
  </div>
  <div class="revue-form-actions">
    <button class="btn btn-default" value="Subscribe" name="member[subscribe]" id="member_submit" type="submit">Subscribe</button>
  </div>
  </form>
</div>
</p> -->

    <!-- Start Section 2: 'Journal' -->
 <a class="anchor" name="writingjournal" id="writingjournal"></a>
<h3 class="text-center">Journal</h3>	    
	 <p>Adventures in publishing. Spoiler Alert! I end up putting in a lot of details about whatever story I'm working on at the time, among all the other blather. 
Enjoy general chaos mixed with news, previews, chapters of any ongoing serials and Instagrams of wherever I happen to be at the moment... <a href="http://kaie.space/journal/index.html" target="_blank">View all posts.</a></p><br>
	    <br>
          <!--Pull in journal posts-->
<div class="container-fluid">
    {% for post in site.posts limit: 8 %}
        {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
            <div class="col-xs-3">
  <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h4 class="title"><a style="color:#ac9" href="{{ post.url }}">{{ post.title }}</a></h4>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content">
		{{ post.content | truncatewords: 150 }}
		<a href="{{ post.url }}">Read more</a>	
		</div><br><!--/.article-content-->
	</article>
	</div>
        {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
	    {% cycle 'end row' : nil %}
</div><!--end container-->
	   <br>
<a href="http://kaie.space/journal/index.html" target="_blank"><strong>All posts</strong></a>

<hr>
<!-- Start Section 3: 'About' -->
 <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
<h3 class="text-center">About</h3>	    
<p>YA ebooks and webfiction serials featuring difficult female protagonists overcoming barriers and fighting for a better world. </p>
	 <p>Expect various flavours of fantasy; future dystopian, contemporary dark, supernatural/paranormal and Celtic-inspired Otherworld.</p>
      	   
	</div><!--end Section-->
</div><!--end Panel-->
