---
layout: indexdefault
title: kaie.Space 
---
 <!--Start main contents of page--> 
		 <div class="panel panel-fluid"> <!--in effect for remainder of content on page, closes last-->	    
			 <div class="section section-fluid" style="margin: 4% 2% 4% 12%;"><!--in effect for remainder of content on page-->
 <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
<h2 class="text-center">About</h2>
				 <br />
<p>K.A. Wiggins writes YA Fantasy with an edge for ages 14 and up.
				 </p>
	<p>Expect more blood than kissing. #monstersandmagic
				 </p>
				 <p>Her debut novel, <em>Blind the Eyes</em>, was a Barnes & Noble Press "20 Favorite Indie Books of 2018" selection. <a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter">Join the newsletter</a> to get a free extended sneak peek of <em>Blind the Eyes</em> plus the prequel novella <em>Under</em>.
				 </p>
				 <p><strong><a href="https://kaie.space/about.html">Read more.</a></strong></p>
<div class="row">
	<div class="col-lg-6">
 <a href="https://kaie.space/threadsofdreams.html"><img style="margin: 1em 1em 1em 0em; width: 100%;" src="http://kaiewiggins.github.io/ToD.gif"></a>
				 <p><strong><a href="https://kaie.space/threadsofdreams.html">When the seas rose, the monsters rose with them . . .</a></strong>
		    </p>
		    <p>Creatures of myth and legend collide with dystopian climate fiction in an elaborate, emotional, genre-bending neogothic saga of monsters and magic.
				 </p>
 <a role="button" class="btn btn-primary mx-auto d-block" alt="Read more about Threads of Dreams series" href="https://kaie.space/threadsofdreams.html">Dive into Dreams</a>
	</div>
		<div class="col-lg-6">
		<a href="https://kaie.space/standalones.html"><img src="http://kaiewiggins.github.io/Standalones.gif" style="width: 100%; margin: 1em 0em;" ></a>
			<p><strong><a href="https://kaie.space/standalones.html">Slip through a portal to another world . . .</a></strong>
		    </p> 
			<p>Visit ancient Japan, mythological Otherworlds, and a fractured Vancouver in these frightening, fantastical, and futuristic speculative short stories and serial fiction.
				 </p>
			 <a role="button" class="btn btn-primary mx-auto d-block" alt="Read more about standalone fiction by K.A. Wiggins" href="https://kaie.space/standalones.html">Escape the Ordinary</a>

	</div>
				 </div><!--end row-->
				<br> <hr>
				 <a class="anchor" name="newsupdates" id="newsupdates"></a>
				 <h2 class="text-center"><a style="color: #e8c048" href="/news.html">News & Updates</a></h2>
					    {% for post in site.categories.news limit: 5 %}
  <article style="margin: 4% 0%;" class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h3 class="title"><a style="color:#e8c048" href="{{ post.url }}">{{ post.title }}</a></h3>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content text-left">
		{{ post.content | truncatewords: 150 }}
		<a href="{{ post.url }}">Read more</a>	
		</div><br><hr><!--/.article-content-->
	</article>
{% endfor %}     
			 <p>More <a href="http://kaie.space/news.html" target="_blank">news</a></p>
			 </div><!--end section-->
</div><!--end panel-->
