---
layout: indexnosidenav
title: kaie.Space 
---

      <video>
        <source src="https://github.com/kaiewiggins/kaiewiggins.github.io/blob/master/2024Banner.mp4" type="video/mp4">
      </video>
<div class="panel panel-fluid"> <!--in effect for remainder of content on page, closes last-->	    

 <!--Start main contents of page--> 
			 <div class="section section-fluid" style="margin: 4% 10%;"><!--in effect for remainder of content on page-->
 <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
<h2 class="text-center">About</h2>
<p>K.A. Wiggins writes YA Fantasy with an edge for ages 14 and up.
				 </p>
<p>Expect monsters, magic, and more blood than kissing.
				 </p>
<p>Her debut Young Adult Dark Fantasy, BLIND THE EYES, launched in 2018 as the first book in the THREADS OF DREAMS trilogy. A not-quite-alive girl and her not-quite-dead ghost discover trusted authorities lie, allies have their own agendas and even the monsters wear masks. <a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter">Join the newsletter</a> to get an exclusive free 5 chapter preview ebook and audiobook.
				 </p>
				 <hr>
<p>Kaie has been creating urban legends about witches in the back wood and fairies in the snow melt since she was seven years old. She writes prickly mistfits challenging the borders of the mundane, inspired by contemporary YA stars including Brenna Yovanoff, Kendare Blake, Melissa Marr, Kelley Armstrong, and Holly Black, and fantasy classic masters such as J.R.R. Tolkien, C.S. Lewis, and Madeleine L'Engle.
	</p>
<p>Born in Vancouver, BC, she freelances as a technical writer, copywriter, and marketing content creator from the Pacific Northwest.
	</p>
				 		 	 <hr>
				 	 <a class="anchor" name="kaiestories" id="kaiestories"></a>
				 				 <div class="row">
					 <div class="col-md-4">
				           <img src="http://kaiewiggins.github.io/FrontCoverSS.png" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Blind the Eyes</h2>
		  <h5>Threads of Dreams Book One</h5>
<p>Haunted teen Cole needs to shake her reputation as a failure. The only way to survive the nightmarish Mara is absolute obedience, and she's down to her last chance. Will she figure out who to trust and stop the dying before the nightmares eat her alive?
						 </p>
<p>A YA dark fantasy for ages 14 and up about identity & taking back your choices in a drowned dystopian city. 96,000 words.
						 </p>
						 <p>On sale June 1, 2018. Preorders open in May. <a href="/threadsofdreams.html">Learn more</a>.
						 </p>
		  <h5><a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter" target="_blank">Join the newsletter</a> for exclusive preview ebooks and audiobook editions.</strong>
						 </h5>
						 </div><!--col-->
		  </div><!--row-->
				 <hr>
				 <a class="anchor" name="newsupdates" id="newsupdates"></a>
				 <h2 class="text-center"><a style="color: #e8c048" href="/news.html">News & Updates</a></h2>
					    {% for post in site.categories.news limit: 5 %}
  <article style="margin: 4% 0%;" class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h3 class="title"><a style="color:#e8c048" href="{{ post.url }}">{{ post.title }}</a></h3>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content text-left">
		{{ post.content | truncatewords: 150 }}
		<a href="{{ post.url }}">Read more</a>	
		</div><hr><!--/.article-content-->
	</article>
{% endfor %}     
			 <p>More <a href="http://kaie.space/news.html" target="_blank">news</a></p>
			 </div><!--end section-->
</div><!--end panel-->
