---
layout: indexdefault
title: kaie.Space 
---
 <!--Start main contents of page--> 
		 <div class="panel panel-fluid"> <!--in effect for remainder of content on page, closes last-->	    
			 <div class="section section-fluid" style="margin: 4% 10%;"><!--in effect for remainder of content on page-->
 <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
<h2 class="text-center">About</h2>
<p>K.A. Wiggins writes YA Fantasy with an edge for ages 14 and up.
				 </p>
<p>Expect monsters, magic, and more blood than kissing.
				 </p>
<p>Her debut Young Adult Dark Fantasy, BLIND THE EYES, launched in 2018 as the first book in the THREADS OF DREAMS trilogy. A not-quite-alive girl and her not-quite-dead ghost discover trusted authorities lie, allies have their own agendas and even the monsters wear masks. <a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter">Join the newsletter</a> to get an exclusive free 5 chapter preview ebook and audiobook.
				 </p>
				 <hr>
<p>Kaie has been creating urban legends about witches in the back wood and fairies in the snow melt since she was seven years old. She writes prickly mistfits challenging the borders of the mundane, inspired by contemporary YA stars including Brenna Yovanoff, Kendare Blake, Melissa Marr, Kelley Armstrong, and Holly Black, and fantasy classic masters such as J.R.R. Tolkien, C.S. Lewis, and Madeleine L'Engle.
	</p>
<p>Born in Vancouver, BC, she freelances as a technical writer, copywriter, and marketing content creator from the Pacific Northwest.
	</p>
				 		 	 <hr>
				 	 <a class="anchor" name="kaiestories" id="kaiestories"></a>
				 				 <div class="row">
					 <div class="col-md-4">
				           <img src="http://kaiewiggins.github.io/FrontCoverSS.png" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Blind the Eyes</h2>
		  <h5>Threads of Dreams Book One</h5>
<p>Haunted teen Cole needs to shake her reputation as a failure. The only way to survive the nightmarish Mara is absolute obedience, and she's down to her last chance. Will she figure out who to trust and stop the dying before the nightmares eat her alive?
						 </p>
<p>A YA dark fantasy for ages 14 and up about identity & taking back your choices in a drowned dystopian city. 96,000 words.
						 </p>
						 <p>On sale June 1, 2018. Preorders open in May. <a href="/threadsofdreams.html">Learn more</a>.
						 </p>
		  <h5><a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter" target="_blank">Join the newsletter</a> for exclusive preview ebooks and audiobook editions.</strong>
						 </h5>
						 </div><!--col-->
		  </div><!--row-->
				 <hr>
				 				 <div class="row">
					 <div class="col-md-4">
				           <img src="http://kaiewiggins.github.io/BtS_ToD0.1.jpg" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Below the Surface</h2>
						 		  <h5>A Threads of Dreams Prequel</h5>
<p>The twins’ bond kept them together through the death of their parents, the memory wipe, and assignment to separate work divisions in the Towers of Refuge, the only surviving habitat in their flooded post eco-disaster city.
						 </p>
<p>But when protective older sister Ange follows carefree Amy into the abandoned lower reaches of the towers, the secrets they discover below the waterline could sever their bond for good.
						 </p>
<p>A dystopian dark fantasy that ranges from sterile towers to glittering clubs and abandoned tunnels, this prequel novella takes places less than a decade before Blind the Eyes and blends monsters and magic with near-future post eco-disaster cityscapes.
						 </p>
						 <p>Coming Summer 2018. Free exclusively to newsletter subscribers.
						 </p>
						 </div><!--col-->
		  </div><!--row-->
				  <hr>
				 				 <div class="row">
					 <div class="col-md-4">
				           <img src="http://kaiewiggins.github.io/ToD2-Preview.jpg" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Threads of Dreams Book 2</h2>
						 <p>Coming in 2019.</p>
						 </div><!--col-->
		  </div><!--row-->
				 <hr>
				 				 <div class="row">
					 <div class="col-md-4">
          <img src="http://kaiewiggins.github.io/FotC.jpg" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Flame of the Connarii</h2>
<p>Edana fights to lead her tribe through treacherous Otherworldly mists to a safe haven. Torchann, the wildcat-raised son of an extinguished race, struggles to remain master of his dying land.
						 </p> 
<p>Their worlds destroyed, their way of life threatened, can they unite, fight back, and survive, or will they each die alone?
						 </p>
<p>A story about belonging & leading well. Tarzan meets Brave. YA fantasy. Serial webfiction updated Tuesdays.(on hiatus)
						 </p>
<h5><a href="/fotc.html">Learn more</a> or read on <a href="http://my.w.tt/UiNb/t20n3ddOYy">Wattpad</a>.</strong>
						 </h5>
						 </div><!--col-->
		  </div><!--row-->
				 <hr>
				 				 <div class="row">
					 <div class="col-md-4">
						           <img src="http://kaiewiggins.github.io/TGOOH2.JPG" style="border-radius: 4%; margin: 1.5em 0em;" class="img-thumbnail">
					 </div>
					 <div class="col-md-8">
		  <h2>Things Got Out of Hand</h2>
						 <p>She should have died.
						 </p>
						 <p>Then he moved in.
						 </p>
		  <p>April prefers her own company, but when Henry saves her from a homicidal Nightmare and moves in, her days of peaceful solitude are over.
						 </p>
					  <p>A story about monsters, heroes, and plans that change. Rom-com retelling of Blind the Eyes. Serial webfiction updated Fridays.(on hiatus)
						 </p>
		  	<h5><a href="http://kaie.space/tgooh.html">Learn more</a> or read on <a href="http://my.w.tt/UiNb/SSNmtpsPYy">Wattpad</a>.</strong>
						 </h5> 
						 </div><!--col-->
		  </div><!--row-->
				 <hr>
				 <a class="anchor" name="newsupdates" id="newsupdates"></a>
				 <h2 class="text-center"><a style="color: #e8c048" href="/news.html">News & Updates</a></h2>
					    {% for post in site.categories.news limit: 5 %}
  <article style="margin: 4% 0%;" class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h3 class="title"><a style="color:#e8c048" href="{{ post.url }}">{{ post.title }}</a></h3>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content text-left">
		{{ post.content | truncatewords: 150 }}
		<a href="{{ post.url }}">Read more</a>	
		</div><hr><!--/.article-content-->
	</article>
{% endfor %}     
			 <p>More <a href="http://kaie.space/news.html" target="_blank">news</a></p>
			 </div><!--end section-->
</div><!--end panel-->
