---
layout: default
title: Things Got Out of Hand - YA supernatural webfiction serial
---
<div class="panel panel-fluid">
<div class="panel-body">
 <div class="section">
	 	 <row>
		 <div class="col-sm-8">
			 <h3>Things Got Out of Hand</h3>
<p>She should have died. Then he moved in.</p>
<p>In April's city, nightmares take flesh and murder indiscriminately. When one comes for her, there's no way to fight, no way to run.</p>
<p>It's all over. No one survives nightmare attacks, ever.</p>
<p>But then a boy shows up and saves her... and proceeds to invade her life.</p> 
			 <p>Henry's on a mission to fight back against death, and he's not about to let his first-ever success story bite it while his back is turned. The obvious move is to take up residence on April's couch. </p>
<p>April's loner days are at an end... along with everything else she thought she knew.</p>
	<br>
<p class="text-muted">From the same source as Blind the Eyes, but with less dystopia and more rom-com hijinks. YA supernatural romance. </p>
            <p class="text-muted">Serial webfiction; new chapters debut Fridays.</p>
			 </div>
		 <div class="col-sm-4">
			 <img src="https://jukepop.blob.core.windows.net/images/covers/uploads/TgooH1_66b65543_20161211035202AM.jpg" style="width: 400px" class="img-thumbnail">
					 <h5><a href="http://kaie.space/tgooh/2016/12/02/TGOoH-CH1-One-of-those-days.html">Start reading at Chapter One</a> or scroll down for the latest chapter.</h5>
						 <h5>Enjoy new chapter alerts and shiny ebook-style reading with <a href="http://my.w.tt/UiNb/SSNmtpsPYy">Wattpad</a> or <a href=" http://www.jukepop.com/home/share/9920/?c=tvjD9HffsCIidBNr&key=67f65f94-8e05-40a4-9b60-3c2e6692fd25">Jukepop</a></h5>

		 </div>
			 </row>
	 <hr>
	 	<div class="row">
<div class="col-sm-9">
	<!--main content of posts-->
		<ul class="posts">
	  {% for post in site.categories.tgooh %}
	    	<a href="{{ post.url }}" title="{{ post.title }}"><h3>{{ post.title }}</h3></a>
	    	<span><p><small>{{ post.date | date_to_string }}</small></p></span>
	    	<p><small>{{post.content}}</small></p><hr>
	  {% endfor %}
	    	</ul>
</div><!--close first col-->
<div class="col-sm-3">
	<!--lookup linklist of posts-->
	<h3>Post Index</h3>
	<ul class="posts">
	  {% for post in site.categories.tgooh %}
	    	<p><font size=2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	    	 | <span><small>{{ post.date | date_to_string }}</small></span></font></p>
	  {% endfor %}
</ul>
	</div><!--close second col-->
</div><!--end row-->
	  </div><!--end section-->
	  </div>
	  </div>
