---
layout: default
title: kaie.Writing; welcome to my world
---

<!-- Section 1 -->
      <div class="panel panel-fluid">
    <div class="section">
      <h1 class="text-center"></a>kaie.Writing<small><br>YA & children's fiction. Welcome to my world.</small></h1>
      <!-- Start social media buttons of Section1/header -->
      <div class="row text-center">
        <a target="_blank" href="https://twitter.com/kaiedesign"><button><i class="fa fa-twitter"></i></button></a>
<a target="_blank" href="https://www.facebook.com/kaie.web"><button><i class="fa fa-facebook"></i></button></a>
 <a target="_blank" href=" http://kaiedesign.tumblr.com"><button><i class="fa fa-tumblr"></i></button></a>
 <a target="_blank" href="https://www.instagram.com/kaiedesign/"><button><i class="fa fa-instagram"></i></button></a>
   <a target="_blank" href="http://kaie.space/journal/atom.xml"><button><i class="fa fa-rss"></i></button></a>
 <a href="https://ca.linkedin.com/in/kaiedesign" target="_blank"><button><i class="fa fa-linkedin"></i></button></a>
      </div><!--end row-->
    </div><!--end title section 1 -->
    </div><!--end panel 1 -->
  <div class="content-writing-space-one"></div>
  
  <!-- Start Section 2: 'About' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="aboutwriting">
      <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
            <h3>About</h3>
      <p>I like living in other worlds. And storytelling. Please enjoy the results.</p>
    </div><!--end Section 2-->
  </div><!--end Panel 2-->
  <div class="content-writing-space-two"></div>
  
  <!-- Start Section 3: 'Stories' -->
  <div class="panel panel-fluid">
    <div class="section text-center">
      <a class="anchor" name="kaiestories" id="kaiestories"></a>
      <h3>Stories</h3>
      <div class="well row">
            
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px;height:400px">
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Gold</h4>
            <p>When hope kills and dreams are deadly, your only hope for survival is to shut it all down. </p>
            <p>Cole is the perfect Tower drone, until she meets Ravel and discovers another world.</p>
            <p>With the dead piling up at every turn, Cole will have to decide which voice to follow: the charismatic leader Ravel, the holy Tower regulation, the whispers of a spectre from her past or the cries of the child within.</p>
            <br>
            <p class="text-muted">Teen/YA dystopian thriller with dark supernatural/fantasy/SF elements. </p>
            <p class="text-muted">100,000 words. Coming Fall 2016.</p>
          </div><!--end container-->
          </div><!--end col-->
          
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px;height:400px">
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Collapse</h4>
            <p>Edana, eldest daughter of the Connarii chief, is fighting to lead her tribe through the treacherous Otherworld mists to a safe haven.</p>
            <p>Torchann is the beast-raised last son of an extinguished race, master of a dying world.</p> 
            <p>When monstrous invaders break through the fading boundaries of his world, Torchann will have to choose fight for the only home he's ever known, or sacrifice it all to battle alongside a girl he's just met and her alien family.</p> 
            <br>
            <p class="text-muted">YA Fantasy/SF blend with kickass action, strong female lead, Celtic-flavoured alternate history & light romance.</p>
            <p class="text-muted">70,000 words. Coming 2018.</p>
          </div><!--end container-->
        </div><!--end col-->
        
        <div class="col-lg-4 col-centered">
        <div id="container" style="width:300px;height:400px">
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Kids Fiction</h4>
            <br>
            <h5>Soulsong: <small>YA/Middle Readers classic fantasy.</small></h5>
            <p>Nia was never good at anything, until a door opened to another world. </p>
            <p>When the adventure of a lifetime takes a turn for the dangerous, it will take everything Nia has to survive. And then some.</p>
            <p class="text-muted">60,000 words. 2018.</p>
            <br>
            <h5>Pearl: <small>An inspirational picture storybook.</small></h5>
            <p>Sometimes it takes time to find our place in the world.</p>
            <p>A story about bullying, surviving, friends and sharing.</p>
            <p class="text-muted">800 words. Coming Fall 2016.</p>
          </div><!--end container-->
        </div><!--end col-->
        
        </div><!--end well row-->
      </div><!--end section 3-->
    </div><!--end panel 3-->
      <div class="content-writing-space-three"></div>
    
  <!-- Start Section 4: 'Beta Readers' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="betareaders">
      <a class="anchor" name="aboutservices" id="betareaders"></a>
      <h3>Beta Readers</h3>
      <p>Love to read? I'm searching for beta readers to read and give feedback on pre-publication drafts.</p>
      <p>Current draft: female-led dystopian thriller YA fiction with supernatural/fantasy/SF elements, about 100,000 words</p>
      <p>Interested? <a href="mailto:kaie.web@gmail.com">Contact me for more information</a>.
    </div><!--end Section 4-->
  </div><!--end Panel 4-->
  <div class="content-writing-space-four"></div>
  
    <!-- Start Section 5: 'Journal' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="writingjournal">
      <a class="anchor" name="aboutservices" id="writingjournal"></a>
      <h3><a href="http://kaie.space/journal/index.html" style="color:#ac9">Journal</a></h3>
      <p>This is the space for every thought that passes through my head. Mostly a daily log, because it's the best way I've found to warm-up for writing.</p>
          <!--Pull in journal posts-->
	            <div class="well">
	  {% for post in site.posts %}
  <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h4 class="title"><a style="color:#ac9" href="{{ post.url }}">{{ post.title }}</a></h4>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content">
		{{ post.excerpt }}
		<a href="{{ post.url }}">Read more</a>	
		</div><br><!--/.article-content-->
	</article>
	{% if forloop.last %}{% else %}<div class="separater"></div>{% endif %}
{% endfor %}
	  </div><!--end well-->


	</div><!--end Section 5-->
  </div><!--end Panel 5-->
  <div class="content-writing-space-five"></div>
  
    <!-- Start Section 6: 'Resources' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="writingresources">
      <a class="anchor" name="aboutservices" id="writingresources"></a>
      <h3>Resources</h3>
      <p>Coming soon: links on writing, editing, publishing & reading!</p>
    </div><!--end Section 2-->
  </div><!--end Panel 2-->
  <div class="content-writing-space-six"></div>
