---
layout: default
title: kaie.Writing; welcome to my world
---

<!-- Section 1 -->
      <div class="panel panel-fluid">
    <div class="section">
      <h1 class="text-center"></a>kaie.Writing<small><br>YA & children's fiction. Welcome to my world.</small></h1>
      <!-- Start social media buttons of Section1/header -->
      <div class="row text-center">
        <a target="_blank" href="https://twitter.com/kaiedesign"><button><i class="fa fa-twitter"></i></button></a>
<a target="_blank" href="https://www.facebook.com/kaie.web"><button><i class="fa fa-facebook"></i></button></a>
 <a target="_blank" href=" http://kaiespace.tumblr.com"><button><i class="fa fa-tumblr"></i></button></a>
 <a target="_blank" href="https://www.instagram.com/kaiedesign/"><button><i class="fa fa-instagram"></i></button></a>
   <a target="_blank" href="http://kaie.space/journal/atom.xml"><button><i class="fa fa-rss"></i></button></a>
 <a href="https://ca.linkedin.com/in/kaiedesign" target="_blank"><button><i class="fa fa-linkedin"></i></button></a>
      </div><!--end row-->
    </div><!--end title section 1 -->
    </div><!--end panel 1 -->
  <div class="content-writing-space-one"></div>
  
  <!-- Start Section 2: 'About' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="aboutwriting">
      <a class="anchor" name="aboutwriting" id="aboutwriting"></a>
            <h3>About</h3>
      <p>I like living in other worlds. And storytelling. Please enjoy the results.</p>
      <p>Expect YA, Children's and Teen female-lead stories with strong supernatural and/or fantasy elements, and dystopian or Celtic-flavoured fantasy settings.</p>
      <br>
                  <h4>Poll</h4>
                <div class="text-center section">
    	<script type="text/javascript">var twtpoll_id = 155849;</script>
<script src="http://twtpoll.com/assets/widget/script.js" type="text/javascript"></script>
<div id="twtpoll-widget-container-1"></div> <!--temporary poll; delete in three days?-->
    </div><!--end Section 2-->
  </div><!--end Panel 2-->
  <div class="content-writing-space-two"></div>
  
  <!-- Start Section 3: 'Stories' -->
  <div class="panel panel-fluid">
    <div class="section text-center">
      <a class="anchor" name="kaiestories" id="kaiestories"></a>
      <h3>Stories</h3>
      <div class="well row">
            
        <div class="col-lg-4">
        <div id="container" style="width:300px;height:400px">
            <h4>Gold & Silver</h4>
            <h4><a href="http://kaie.space/gold.html" target="_blank">Book One: Blind the Eyes</a></h4>
            <p>When hope kills and dreams are deadly, your only chance for survival is to shut it all down. </p>
            <p>All Cole wants is to be the perfect Tower drone, until she meets Ravel and discovers another world.</p>
            <p>With the dead piling up at every turn, Cole will have to decide which voice to follow: the charismatic leader Ravel, the holy Tower regulation, the whispers of a spectre from her past or the call of the child within.</p>
            <br>
            <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-0/s526x395/13524412_10153499549652130_5093454112893580463_n.jpg?oh=032e13d2f2e0c709dcede928eb3eeb45&oe=57FEF2AC" alt="Blind the Eyes first variant cover" class="img-responsive img-thumbnail" title="Limited Edition Cover: First 5 chapters variant">
            <p class="text-muted">A story about identity, trauma, and the taking back your choices.</p>
            <p class="text-muted">Teen/YA dystopian thriller with dark supernatural/fantasy/SF elements. </p>
            <p class="text-muted">100,000 words. Coming Fall 2016.</p>
            <p><a href="http://kaie.space/book/2016/06/27/Preview-Gold.html">Ten chapter preview</a>!</p>
            <p><strong>Still seeking a couple more beta readers to give feedback. <a href="mailto:kaie.web@gmail.com">Contact me</a> to apply to beta read or get an ARC copy of the .epub/ebook for review.</strong></p>
          </div><!--end container-->
          </div><!--end col-->
          
        <div class="col-lg-4">
        <div id="container" style="width:300px;height:400px">
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Legends of the Connarii</h4>
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Book One: Collapse</h4>
            <p>Edana, eldest daughter of the Connarii chief, is fighting to lead her tribe through the treacherous Otherworld mists to a safe haven.</p>
            <p>Torchann is the beast-raised last son of an extinguished race, master of a dying world.</p> 
            <p>When monstrous invaders break through the fading boundaries of his world, Torchann will have to choose fight for the only home he's ever known, or sacrifice it all to battle alongside a girl he's just met and her alien family.</p> 
            <br>
            <p class="text-muted">A story about home, belonging and leading well.</p>
            <p class="text-muted">YA Fantasy/SF blend with kickass action, strong female lead, Celtic-flavoured fantasy & light romance.</p>
            <p class="text-muted">70,000 words. Coming 2018.</p>
          </div><!--end container-->
        </div><!--end col-->
        
        <div class="col-lg-4">
        <div id="container" style="width:300px;height:400px">
            <h4 style="display: inline-block; color: #333; margin: 0; padding: 10px; font-size: 16px; line-height: 18px;">Kids Fiction</h4>
            <br>
            <h5>Soulsong: <small>YA/Middle Readers classic fantasy.</small></h5>
            <p>Nia was never good at anything, until a door opened to another world. </p>
            <p>When the adventure of a lifetime takes a turn for the dangerous, it will take everything she has to survive. And then some.</p>
            <p class="text-muted">A quest and coming of age adventure story.</p>
            <p class="text-muted">60,000 words. 2018.</p>
            <br>
            <h5>Pearl: <small>An inspirational picture storybook.</small></h5>
            <p>Sometimes it takes time to find our place in the world. Sometimes it's our pain that helps us connect with others.</p>
            <p>A story about bullying, surviving, friends and sharing.</p>
            <p class="text-muted">800 words. Coming Fall 2016.</p>
          </div><!--end container-->
        </div><!--end col-->
        
        </div><!--end well row-->
      </div><!--end section 3-->
    </div><!--end panel 3-->
      <div class="content-writing-space-three"></div>
    
  <!-- Start Section 4: 'Beta Readers' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="betareaders">
      <a class="anchor" name="aboutservices" id="betareaders"></a>
      <h3>Beta Readers</h3>
      <p>Love to read? I'm searching for beta readers to read and give feedback on pre-publication drafts.</p>
      <p>Beta readers don't need a degree in literary criticism, just a willingness to take the time to give some feedback, ranging from a general thumbs-up/down to, really, as detailed as you care to be.</p>
      <p>I provide Beta Reader Editions in five-chapter installments with limited-edition covers in .epub and .pdf format, and other formats by request.</p>
      <p>Current draft: <a href="http://kaie.space/gold.html" target="_blank">Gold & Silver Book One: Blind the Eyes</a> -a female-led dystopian thriller YA fiction with supernatural/fantasy/SF elements, about 100,000 words</p>
      <p>Read special preview chapter <a href="http://kaie.space/book/2016/06/27/Preview-Gold.html">here</a>.</p>
<p>Interested? <a href="mailto:kaie.web@gmail.com">Contact me</a> for more information or to apply.
    </div><!--end Section 4-->
  </div><!--end Panel 4-->
  <div class="content-writing-space-four"></div>
  
    <!-- Start Section 5: 'Journal' -->
  <div class="panel panel-fluid">
    <div class="section" id="writingjournal">
      <a class="anchor" name="aboutservices" id="writingjournal"></a>
      <h3 class="text-center"><a href="http://kaie.space/journal/index.html" style="color:#ac9">Journal</a></h3>
      <p>This is the space for every thought that passes through my head. Mostly a daily log, because it's the best way I've found to warm-up for writing. 
      Spoiler Alert! I end up putting in a lot of details about whatever story I'm working on at the time, among all the other emo blather. 
      If you'd rather have your fictional worlds unsullied, I'd suggest you switch over to the blog section.</p><br>

          <!--Pull in journal posts-->
<div class="container">
    {% for post in site.categories.journal limit: 8 %}
        {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
            <div class="col-sm-3">
  <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
		<div class="article-head">
			<h4 class="title"><a style="color:#ac9" href="{{ post.url }}">{{ post.title }}</a></h4>
			<p class="date small">{{ post.date | date: "%b %d, %Y" }}</p>
		</div><!--/.article-head-->
		<div class="article-content">
		{{ post.excerpt }}
		<a href="{{ post.url }}">Read more</a>	
		</div><br><!--/.article-content-->
	</article>
	</div>
        {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}
</div><!--end container-->



	</div><!--end Section 5-->
  </div><!--end Panel 5-->
  <div class="content-writing-space-five"></div>
  
    <!-- Start Section 6: 'Resources' -->
  <div class="panel panel-fluid">
    <div class="text-center section" id="writingresources">
      <a class="anchor" name="aboutservices" id="writingresources"></a>
      <h3>Resources</h3>
      <small>This section contains affiliate links.</small>
<div class="well row text-left">
	<div class="col-sm-4">
		<h4>Writing, Rewriting & Editing Resources</h4>
      <ul>
<li><a target="_blank"  href="http://www.amazon.ca/Writing-Memoir-Craft-Stephen-King-ebook/dp/B000FC0SIM/?_encoding=UTF8&camp=15121&creative=330641&keywords=stephen%20king%20on%20writing&linkCode=ur2&qid=1465859635&s=digital-text&sr=1-1&tag=kaie06-20">On Writing by Stephen King</a><img src="http://ir-ca.amazon-adsystem.com/e/ir?t=kaie06-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> - I found this book hugely encouraging; great to read at any stage in your writing process.
      </li><br>
      <li><a target="_blank"  href="http://www.amazon.ca/Techniques-Selling-Writer-Dwight-Swain-ebook/dp/B0099P9UI0/?_encoding=UTF8&camp=15121&creative=330641&keywords=techniques%20of%20the%20selling%20writer&linkCode=ur2&qid=1465860552&s=digital-text&sr=1-1&tag=kaie06-20">Techniques of the Selling Writer by Dwight V. Swain</a><img src="http://ir-ca.amazon-adsystem.com/e/ir?t=kaie06-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - if you read nothing else on the subject, read this book. Insightful, a little over the top, but beautifully encapsulates the things that matter when it comes time to plot/rewrite/edit.</li><br>
      	<li><a  href="http://www.amazon.ca/gp/product/B0058I7TFI/ref=as_li_tf_tl?ie=UTF8&camp=15121&creative=330641&creativeASIN=B0058I7TFI&linkCode=as2&tag=kaie06-20">The Elements Of Style (2011 Edt.) by William Strunk</a><img src="http://ir-ca.amazon-adsystem.com/e/ir?t=kaie06-20&l=as2&o=15&a=B0058I7TFI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> - a classic, required reading and useful reference guide. Quick and cheap. The new edition is marginally less irritating than the original (sorry).
</li><br>
      	<li><a target="_blank"  href="http://www.amazon.ca/Self-Editing-Fiction-Writers-Second-Yourself-ebook/dp/B003JBI2YI/?_encoding=UTF8&camp=15121&creative=330641&linkCode=ur2&qid=&sr=&tag=kaie06-20">Self-Editing for Fiction Writers by Renni Browne</a><img src="http://ir-ca.amazon-adsystem.com/e/ir?t=kaie06-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - you almost certainly need this book. Unless you just want to pay money to other people to do the work for you. That's ok too (pick me!)</li>
       		<li>KM Weiland's <a href="https://www.helpingwritersbecomeauthors.com/" target="_blank" excellent blog</a></li>

      </ul><br>
      </div><!--end first col-->
      <div class="col-sm-4">
      	<h4>(Self/Indie) Publishing</h4>
      	      	<ul>
      		<li>Coming soon!</li>
      		</ul>
      	</div><!--end second col-->
      <div class="col-sm-4">
      	<h4>Nuts, Bolts, and other great stuff</h4>
      	      	<ul>
      		<li>I'm loving Adobe's <a href="https://www.fotolia.com/partner/206352341" target="_blank">Fotolia</a> for high-quality royalty-free graphics with pricing that doesn't (totally) break the bank.</li>
      		<li>I host my website on <a href="https://github.com/" target="_blank">Github</a> - for free! - and I highly recommend trying it, if you have the skills to static code your own site and are comfortable open-sourcing your code.</li>
      		<li>I used <a href="https://www.namecheap.com/?aff=102229" target="_blank">Namecheap</a> for my domain, and have been pretty impressed with their tools, service and pricing.</li>
      		</ul>
      </div><!--end third col-->
      </div><!--end well, row-->
    </div><!--end Section 2-->
  </div><!--end Panel 2-->
  <div class="content-writing-space-six"></div>
