<nav class="navbar fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <div id="nav-icon2">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
	    <script>
	    $(document).ready(function(){
	$('#nav-icon2').click(function(){
		$(this).toggleClass('open');
	});
});
    </script>
  </button>		  
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
<a class="nav-item nav-link" href="/" {% if page.url == "/" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
  <a class="nav-item nav-link" href="/about.html" {% if page.url == "/about.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-user fa-fw"></i>&nbsp;About</a>
  <a class="nav-item nav-link" href="/threadsofdreams.html" {% if page.url == "/threadsofdreams.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-book fa-fw"></i>&nbsp;Threads of Dreams</a>
  <a class="nav-item nav-link" href="/standalones.html" {% if page.url == "/standalones.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-book fa-fw"></i>&nbsp;Standalones</a>
  <a class="nav-item nav-link" href="/news.html" {% if page.url == "/news.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-newspaper-o fa-fw"></i>&nbsp;News</a>
  <a class="nav-item nav-link" href="/events.html" {% if page.url == "/events.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-calendar fa-fw"></i>&nbsp;Events</a>
  <a class="nav-item nav-link" href="/resources.html" {% if page.url == "/resources.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-list fa-fw"></i>&nbsp;Writing Resources</a>			
  <a class="nav-item nav-link" href="/students.html" {% if page.url == "/students.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-users fa-fw"></i>&nbsp;Student Showcase</a>
  <a class="nav-item nav-link" href="/faq.html" {% if page.url == "/faq.html" %}style="color: black; font-weight: bold;"{% endif %}><i class="fa fa-question-circle fa-fw"></i>&nbsp;FAQ</a>
		  	<hr />
<p>
	<a target="_blank" href="https://twitter.com/kaiespace"><i class="fa fa-twitter fa-fw" style="padding: 1% 10%;"></i></a>	    
	<a target="_blank" href="https://www.facebook.com/kaiespace/"><i class="fa fa-facebook fa-fw" style="padding: 1% 10%;"></i></a>    
	<a target="_blank" href="https://www.instagram.com/kaie.space/"><i class="fa fa-instagram fa-fw" style="padding: 1% 10%;"></i></a>    
</p>
<p>
	<a href="http://kaie.space/atom.xml" target="_blank"><i class="fa fa-rss fa-fw" style="padding: 1% 10%;"></i></a>   
<a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter" target="_blank"><i class="fa fa-newspaper-o fa-fw" style="padding: 1% 10%;"></i></a>    
	<a href="mailto:info@kawiggins.com" target="_blank"><i class="fa fa-envelope fa-fw" style="padding: 1% 10%;"></i></a> 
</p>
		    </div>
		  </div>
	</nav>
