	<div class="socialblock" style="position: fixed; bottom: 1.5%; left: 1.5%; z-index: 1;">
<a target="_blank" href="https://bsky.app/profile/kaiewrites.bsky.social"><i class="style="color: #333; padding: 10%;">B</i></a>
		&nbsp
<a target="_blank" href="https://www.facebook.com/kaiespace/"><i class="fa fa-facebook fa-fw" style="color: #333; padding: 10%;"></i></a>
&nbsp
<a target="_blank" href="https://www.instagram.com/kaie.space/"><i class="fa fa-instagram fa-fw" style="color: #333; padding: 10%;"></i></a>
<br>		<a href="http://kaie.space/atom.xml" target="_blank"><i class="fa fa-rss fa-fw" style="color: #333; padding: 10%;"></i></a>
&nbsp
			<a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter" target="_blank"><i class="fa fa-newspaper-o fa-fw" style="color: #333; padding: 10%;"></i></a>
&nbsp
			<a href="mailto:info@kawiggins.com" target="_blank"><i class="fa fa-envelope fa-fw" style="color: #333; padding: 10%;"></i></a>
		<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://space.us16.list-manage.com/subscribe/post?u=5d9ccc35d544fcc85135fb8ae&amp;id=1839d5c802" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d9ccc35d544fcc85135fb8ae_1839d5c802" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Join Newsletter" name="Subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #e8c048; width: 72%"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
		</div><!--end fixed-->
