		<nav class="navbar">
  <a class="navbar-text" href="#">Home</a>
  <a class="navbar-text" href="/about.html">About</a>
  <a class="navbar-text" href="/threadsofdreams.html">Threads of Dreams</a>
  <a class="navbar-text" href="/standalones.html">Standalones</a>
  <a class="navbar-text" href="/news.html">News</a>
  <a class="navbar-text" href="/events.html">Events</a>
  <a class="navbar-text" href="/resources.html">Writing Resources</a>			
  <a class="navbar-text" href="/students.html">Student Showcase</a>
  <a class="navbar-text" href="/faq.html">FAQ</a>
	</nav>
