		<nav class="navbar fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
	    <div id="nav-icon2">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
	    <script>
	    $(document).ready(function(){
	$('#nav-icon2').click(function(){
		$(this).toggleClass('open');
	});
});
    </script>
	    </span><!--end toggler icon-->
  </button>		  
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav" style="height: 100vh; width: 50%; background-color: rgba(255, 255, 255, 0.9); padding: 1%;">
<a class="nav-item nav-link" href="#">Home</a>
  <a class="nav-item nav-link" href="/about.html">About</a>
  <a class="nav-item nav-link" href="/threadsofdreams.html">Threads of Dreams</a>
  <a class="nav-item nav-link" href="/standalones.html">Standalones</a>
  <a class="nav-item nav-link" href="/news.html">News</a>
  <a class="nav-item nav-link" href="/events.html">Events</a>
  <a class="nav-item nav-link" href="/resources.html">Writing Resources</a>			
  <a class="nav-item nav-link" href="/students.html">Student Showcase</a>
  <a class="nav-item nav-link" href="/faq.html">FAQ</a>
<p>
	<a target="_blank" href="https://twitter.com/kaiespace"><i class="fa fa-twitter fa-fw" style="padding: 3%;"></i></a>	    
	<a target="_blank" href="https://www.facebook.com/kaiespace/"><i class="fa fa-facebook fa-fw" style="padding: 3%;"></i></a>    
	<a target="_blank" href="https://www.instagram.com/kaie.space/"><i class="fa fa-instagram fa-fw" style="padding: 3%;"></i></a>    
</p>
<p>
	<a href="http://kaie.space/atom.xml" target="_blank"><i class="fa fa-rss fa-fw" style="padding: 3%;"></i></a>   
<a href="https://mailchi.mp/7852e61cb116/ka-wiggins-ya-dystopian-dark-fantasy-newsletter" target="_blank"><i class="fa fa-newspaper-o fa-fw" style="padding: 3%;"></i></a>    
	<a href="mailto:kaiewrites@gmail.com" target="_blank"><i class="fa fa-envelope fa-fw" style="padding: 3%;"></i></a> 
</p>
		    </div>
		  </div>
	</nav>
