---
layout: default
---

<div class="panel panel-fluid">
    <div class="section">
        <h1>{{ page.title }}</h1>
	 	<div class="row">
<div class="col-sm-9">
	<!--main content of posts-->
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="post">
  {{ content }}
</div>
</div><!--close first col-->
<div class="col-sm-3">
	<!--lookup linklist of posts-->
	<h3>Post Index</h3>
	<ul class="posts">
	  {% for post in site.posts %}
	    	<p><font size=2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	    	 | <span><small>{{ post.date | date_to_string }}</small></span></font></p>
	  {% endfor %}
</ul>
<!--social sharing buttons-->
<a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a>
<script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>
	</div><!--close second col-->
</div><!--end row-->
    </div><!--end title section 1 -->
    </div><!--end panel 1 -->
